<div class="container-fluid">
  <h3><%= @user.username.capitalize %>'s Dashbord</h3>
  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4 ">

      <%= direct_upload_form_for @uploader do |f| %>
        <%= f.label :select_video%>
        <%= f.file_field :video_url %><br>
        <%= f.submit "Upload" %>
      <% end %>

    </div>

  </div>
</div>

<div class="container-fluid">
  Uploaded Videos
  <div class="row">
    <% @user.videos.each do |video| %>
      <div class="col-sm-2">
        <img class="img-rounded" width="160" height="94" src=<%= video.image %> alt=<%= video.title %> >
        <%= link_to video.title, video_path(video.id) %>
      </div>
    <% end %>
  </div>
</div>