<div class="container">
  <h3><%= @user.username.capitalize %>'s Dashbord</h3>
  <div class="row">
    <div class="col-sm-7">
      Member since: <%=@user.created_at%><br>
      Number of uploads: <%=@user.videos.count%><br>
      top tags: <br>
    </div>
    <div class="col-sm-5 ">

      <%= direct_upload_form_for @uploader do |f| %>
        <%= f.label :select_video%>
        <%= f.file_field :video_url %><br>
        <%= f.submit "Upload", :class => 'btw' %>
      <% end %>

    </div>

  </div>
</div>

<div class="container">
  <h4>Uploaded Videos</h4>
  <div class="row">
    <% @user.videos.each do |video| %>
      <div class="col-sm-2">
        <%= link_to(image_tag(video.image, :size=>"160x94", :class=>"img-rounded"), video_path(video.id)) %>
        <%= link_to video.title, video_path(video.id) %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <h2>Messages</h2>
  <div class="">
    <% @user.messages.each do |comment| %>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        <h4><%=link_to comment.sender.username, community_path(comment.sender.username)%></h4><br>
        <%=comment.body%>
        </div>
        <div class="col-sm-3"></div>
      </div>
    <% end %>
  </div>
</div>
