<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div class="">
        <%= video_player({:file => @video.video_url}, {:width => 768, :height => 432}) %>
      </div>
      <h3><%= @video.title %></h3>
      <%= @video.user.username %>
      <div class="pull-right">
        <progress value=<%= @video.avg_score %> max="50"></progress>
      </div>
    </div>
    <div class="col-sm-3">
      <!-- comments? ad space? similar? page length? stop at additional videos?-->
    </div>
  </div>
</div>

<div class="container-fluid">
  <h2>More from User</h2>
  <div class="row">
    <% @video.user_collection.each do |sample_video| %>
      <div class="col-sm-2">
        <img class="img-rounded" width="160" height="94" src=<%= sample_video.image %> alt=<%= sample_video.title %> >
        <%= link_to sample_video.title, video_path(sample_video.id) %>
      </div>
    <%end%>
  </div>
</div>

<div class="container-fluid">
  <h2>Similar videos</h2>
  <div class="row">
    <% @video.matching_tag.each do |sample_video| %>
      <div class="col-sm-2">
        <img class="img-rounded" width="160" height="94" src=<%= sample_video.image %> alt=<%= sample_video.title %> >
        <%= link_to sample_video.title, video_path(sample_video.id) %>
      </div>
    <%end%>
  </div>
</div>
