<div class="container">

  <div class="row">

    <div class="col-sm-9">
      <%= video_player({:file => @video.video_url.to_s, :image => @video.image}, {:width => 768, :height => 432}) %>

      <h3><%= @video.title %></h3>
      <img class="img-rounded" width="80" height="47" src=<%= @video.user.avatar %> >
      <%= link_to @video.user.username, community_path(@video.user.username) %><br>
      <%= @video.created_at %>
      <div class="pull-right">
        <progress value=<%= @video.avg_score %> max="50"></progress>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="row">
        <% @video.comments.each do |comment| %>
          <div>
            <h4><%= comment.user.username %></h4>
            <p><%= comment.body %><p>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>

<div class="container">
  <h2>More from User</h2>
  <div class="row">
    <% @video.user_collection.each do |sample_video| %>
      <div class="col-sm-2">
        <%= link_to(image_tag(sample_video.image, :size=>"160x94", :class=>"img-rounded"), video_path(sample_video.id)) %>
        <%= link_to sample_video.title, video_path(sample_video.id) %>
      </div>
    <%end%>
  </div>
</div>

<div class="container">
  <h2>Similar videos</h2>
  <div class="row">
    <% @video.similar_videos.each do |video| %>
      <div class="col-sm-2">
        <%= link_to(image_tag(video.image, :size=>"160x94", :class=>"img-rounded"), video_path(video.id)) %>
        <%= link_to video.title, video_path(video.id) %>
      </div>
    <%end%>
  </div>
</div>
