<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div class="">
        <%= video_player({:file => "https://s3-us-west-2.amazonaws.com/captinvideos/clubbed+to+death+-+Matrix+soundtrack.mp4"}, {:width => 768, :height => 432}) %>
      </div>
    </div>
    <div class="col-sm-3">
      <!-- comments? ad space? similar? page length? stop at additional videos?-->

    </div>
  </div>
</div>

<div class="container-fluid">
  <h2>Popular</h2>
  <div class="row">
    <% @pop_videos.each do |pop_vid| %>
      <div class="col-sm-2">
        <img class="img-rounded" width="160" height="94" src=<%= pop_vid.image %> alt=<%= pop_vid.title %> >
        <%= link_to pop_vid.title, video_path(pop_vid.id) %>
      </div>
    <%end%>
  </div>
</div>

<div class="container-fluid">
  <h2>Recently Uploaded</h2>
  <div class="row">
    <% @recently_uploaded.each do |new_vid| %>
      <div class="col-sm-2">
        <img class="img-rounded" width="160" height="94" src=<%= new_vid.image %> alt=<%= new_vid.title %> >
        <%= link_to new_vid.title, video_path(new_vid.id) %>
      </div>
    <% end %>
  </div>
</div>
