<div class="container">

  <div class="jumbotron">
    <h2>Welcome to Capt'n Videos</h2>
    <p class="small">This site is dedicated to diy videos on maintaining your marine vessel. Feel free to join and upload as many videos as you would like.</p>
  </div>

  <div class="row">
    <div class="col-sm-8 video-spacer">
    <h3>Recently popular</h3>
      <div>
        <%= video_player({:file => @vid_of_day.video_url.to_s}, {:width => 768, :height => 432}) %>
      </div>
    </div>
    <div class="col-sm-4">
    <h3>Similar</h3>
      <%@vid_of_day.sm_set.each do |video|%>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <%= link_to(image_tag(video.image, :size=>"160x94", :class=>"img-rounded"), video_path(video.id)) %>
            <%= link_to video.title, video_path(video.id) %>
          </div>
          <div class="col-sm-3"></div>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="container">
  <h2>Top rated</h2>
  <div class="row">
    <% @rated_videos.each do |rated_vid| %>
      <div class="col-sm-2">
        <%= link_to(image_tag(rated_vid.image, :size=>"160x94", :class=>"img-rounded"), video_path(rated_vid.id)) %>
        <%= link_to rated_vid.title, video_path(rated_vid.id)%>
      </div>
    <%end%>
  </div>
</div>

<div class="container">
  <h2>Recent Uploads</h2>
  <div class="row">
    <% @recently_uploaded.each do |new_vid| %>
      <div class="col-sm-2">
        <%= link_to(image_tag(new_vid.image, :size=>"160x94", :class=>"img-rounded"), video_path(new_vid.id)) %>
        <%= link_to new_vid.title, video_path(new_vid.id) %>
      </div>
    <% end %>
  </div>
</div>
