<div class="container">

  <div class="jumbotron">
    <h2>Welcome to Capt'n Videos</h2>
    <p class="small">This site is dedicated to diy videos on maintaining your marine vessel. Feel free to join and upload as many videos as you would like.</p>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <div class="">
        <%= video_player({:file => @vid_of_day.video_url.to_s}, {:width => 768, :height => 432}) %>
      </div>
    </div>
    <div class="col-sm-3">
      <!-- similar tagged videos go here -->

    </div>
  </div>
</div>

<div class="container">
  <h2>Top rated</h2>
  <div class="row">
    <% @rated_videos.each do |rated_vid| %>
      <div class="col-sm-2">
        <img class="img-rounded" width="160" height="94" src=<%= rated_vid.image %> alt=<%= rated_vid.title %> >
        <%= link_to rated_vid.title, video_path(rated_vid.id) %>
      </div>
    <%end%>
  </div>
</div>

<div class="container">
  <h2>Recent Uploads</h2>
  <div class="row">
    <% @recently_uploaded.each do |new_vid| %>
      <div class="col-sm-2">
        <img class="img-rounded" width="160" height="94" src=<%= new_vid.image %> alt=<%= new_vid.title %> >
        <%= link_to new_vid.title, video_path(new_vid.id) %>
      </div>
    <% end %>
  </div>
</div>
