<div class='header'>
  <div class='float_left'>
    <h1><%= link_to "Capt'in Videos", root_path %></h1>
  </div>

  <div class='float_right'>
    <% if user_signed_in? %>
      Welcome <%= @user %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %><br>
      or <br>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
  </div>
</div>
