<%= link_to(image_tag("assets/images/Captain-at-sea.jpg", :size=>"80", :class=>"img-rounded"), root_path) %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Capt'n Videos", root_path, { :class=>"navbar-brand" } %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Categories", categories_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
        <li><%= link_to "Community", community_index_path %></li>
        <li><%= link_to "Forums", forums_path %></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Signed in as: " + current_user.username, user_path(session["warden.user.user.key"][0][0]) %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", new_user_session_path, { :class=>"glyphicon" } %></li>
        <li><%= link_to "Sign up", new_user_registration_path, { :class=>"glyphicon" } %></li>
      <% end %>
    </ul>
  </div>
</nav>
