<div class="row">
  <div class="col-sm-10">
    <h1><%= link_to "Capt'in Videos", root_path %></h1>
  </div>

  <div class="col-sm-2">
    <% if user_signed_in? %>
      Signed in as: <%= @user %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Log In", new_user_session_path %><br>
      or <br>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
  </div>
</div>
